/*--------------------------------------------------------------
# body-new-css
--------------------------------------------------------------*/
.body-new-css {
	background: radial-gradient(
				143.12% 189.23% at 52.24% 61.83%,
				rgba(0, 200, 255, 0.0496) 0%,
				rgba(21, 57, 73, 0) 100%
			)
			/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
		radial-gradient(
				106.4% 51.48% at 19.21% 50%,
				rgba(0, 67, 167, 0.1) 0%,
				rgba(23, 50, 62, 0) 100%
			)
			/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
		linear-gradient(
			227.98deg,
			rgba(43, 138, 159, 0.3) 8.54%,
			rgba(23, 50, 62, 0) 35.73%
		),
		linear-gradient(108.84deg, #153b49 8.33%, #0f273d 128.76%);

	.header {
		.navbar-area {
			background: rgba(30, 30, 30, 0.84);
		}
	}
}

/*--------------------------------------------------------------
# fisco
--------------------------------------------------------------*/

.page-title {
	text-align: center;
	h1 {
		font-size: 36px;
		font-weight: 600;
		margin-bottom: 40px;
		@media only screen and (max-width: 1199px) {
			font-size: 30px;
			margin-bottom: 32px;
		}
		@media only screen and (max-width: 991px) {
			font-size: 27px;
			margin-bottom: 28px;
		}
	}
}

.fisco {
	padding-top: 125px;
	min-height: 100vh;
	position: relative;
  @media only screen and (max-width: 991px) {
   padding-top: 100px;
  }
  @media only screen and (max-width: 767px) {
   padding-top: 90px;
  }
}
.fisco-wrapper {
	.page-teddy {
		position: absolute;
		bottom: 0;
		right: 10%;
		width: 100%;
		max-width: 250px;
		z-index: -1;
		@media only screen and (max-width: 1399px) {
			max-width: 200px;
		}
    @media only screen and (max-width: 767px) {
     max-width: 170px;
     right: 5%;
    }
	}
}
.fis-block {
	display: block;
	width: 100%;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	background-color: #0e0e0e;
	padding: 30px 30px;
	border-radius: 22px;
	@media only screen and (max-width: 767px) {
		padding: 25px 25px;
	}
	.fis-t {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 20px;
		h3 {
			font-size: 21px;
			font-weight: 600;
			@media only screen and (max-width: 991px) {
				font-size: 18px;
			}
      @media only screen and (max-width: 482px) {
       font-size: 16px;
      }
			br {
				/** Small devices (landscape phones, 576px and up) **/
				@media (min-width: 576px) {
					display: none;
				}
			}
		}

		span {
			display: inline-flex;
			background: linear-gradient(
					0deg,
					rgba(0, 0, 0, 0.36),
					rgba(0, 0, 0, 0.36)
				),
				linear-gradient(90.99deg, #2f749b 21.23%, #2a8fa0 356.28%);
			padding: 2px 26px;
			color: #fff;
			font-size: 14px;
			border-radius: 7px;
			@media only screen and (max-width: 991px) {
				font-size: 13px;
				padding: 2px 18px;
			}
      @media only screen and (max-width: 482px) {
       font-size: 12px;
       padding: 2px 14px;
      }
		}
	}
	.form-control {
		background-color: #1a1a1a;
		border-color: #424242;
		border-radius: 12px;
		padding: 0.575rem 0.75rem;
		color: #fff;
		font-size: 15px;
		margin-bottom: 18px;
	}
	.btn-submit {
		display: block;
		width: 100%;
		border: 0;
		outline: none;
		text-align: center;
		background: linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.36),
				rgba(0, 0, 0, 0.36)
			),
			linear-gradient(90.99deg, #2f749b 21.23%, #2a8fa0 356.28%);
		color: #fff;
		font-size: 16px;
		font-weight: 600;
		padding: 18px 20px;
		border-radius: 12px;
		transition: all 0.2s ease-in;
		&:hover,
		&:focus {
			background: linear-gradient(
					0deg,
					rgba(0, 0, 0, 0.36),
					rgba(0, 0, 0, 0.36)
				),
				linear-gradient(30.99deg, #326e91 21.23%, #165e6b 356.28%);
		}
    @media only screen and (max-width: 767px) {
     padding: 16px 20px;
    }
	}
}
