/*--------------------------------------------------------------
# services
--------------------------------------------------------------*/

.services {
	padding: 80px 0px;
	@media only screen and (max-width: 767px) {
		padding-left: 10px;
		padding-right: 10px;
		padding: 50px 0px;
	}
	.container {
		max-width: 1200px;
	}
}

.service-single {
	&:not(:last-child) {
		margin-bottom: 30px;
	}
	background-color: #1a282e;
	padding: 20px 30px 20px 30px;
	border-radius: 30px;
	@media only screen and (max-width: 767px) {
		padding: 20px 20px 20px 20px;
	}

	.title-flx {
		@media only screen and (max-width: 482px) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 10px;
		}
		.mer-logo {
			display: none;
			@media only screen and (max-width: 482px) {
				display: block;
				height: 70px;
				object-fit: contain;
				margin-right: 15px;
			}
		}
	}

	h4 {
		background: linear-gradient(
			271.43deg,
			#ffffff -10.14%,
			#2291a7 152.86%
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.21);
		font-size: 30px;
		font-weight: 600;
		@media only screen and (max-width: 767px) {
			font-size: 25px;
			margin: 15px 0px;
		}
		@media only screen and (max-width: 482px) {
			font-size: 23px;
		}
	}
	.ser-logo {
		max-height: 120px;
		@media only screen and (max-width: 767px) {
			max-height: 100px;
		}
		@media only screen and (max-width: 482px) {
			display: none;
		}
		&.ser-logo-3 {
			max-height: 110px;
			@media only screen and (max-width: 767px) {
				max-height: 90px;
			}
		}
	}
	p {
		font-size: 16px;
		font-weight: 500;
		color: #e2e2e2;
		@media only screen and (max-width: 991px) {
			max-width: 400px;
		}
	}
	transition: all 0.2s ease-in;
	&:hover {
		transform: scale(1.01);
		background-color: #23343b;
	}
}

/*--------------------------------------------------------------
# partners
--------------------------------------------------------------*/
.partners {
	padding-top: 80px;
	padding-bottom: 80px;
	@media only screen and (max-width: 767px) {
		padding-top: 50px;
		padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
	}
	.container {
		max-width: 1200px;
	}
}
.p-single {
	background-color: #1a282e;
	border-radius: 25px;
	text-align: center;
	padding: 40px 30px;
	@media only screen and (max-width: 767px) {
		padding: 30px 30px;
	}
	.p-logo {
		width: 100%;
		max-width: 380px;
		@media only screen and (max-width: 1199px) {
			max-width: 350px;
		}
		@media only screen and (max-width: 767px) {
			max-width: 320px;
		}
		@media only screen and (max-width: 482px) {
			max-width: 280px;
		}
	}

	transition: all 0.2s ease-in;
	&:hover {
		transform: scale(1.01);
		background-color: #23343b;
	}
}

/*--------------------------------------------------------------
# community
--------------------------------------------------------------*/

.community {
	padding-top: 90px;
  padding-bottom: 160px;
	@media only screen and (max-width: 767px) {
		padding-top: 50px;
    padding-bottom: 80px;
    padding-left: 10px;
    padding-right: 10px;
	}

	.com-single {
		display: block;
		width: 100%;
		height: 100%;
		text-decoration: none;
		text-align: center;
		background-color: #1a282e;
		padding: 40px 30px;
		border-radius: 18px;
    transition: all .2s ease-in;
    @media only screen and (max-width: 767px) {
     padding: 30px 30px;
    }
		.com-img {
			height: 70px;
			margin-bottom: 22px;
      @media only screen and (max-width: 767px) {
       height: 60px;
       margin-bottom: 18px;
      }
		}
		h5 {
			font-size: 22px;
			font-weight: 600;
			margin-bottom: 14px;
      @media only screen and (max-width: 767px) {
       font-size: 20px;
       margin-bottom: 10px;
      }
		}
		p {
			font-size: 15px;
			font-weight: 600;
      @media only screen and (max-width: 767px) {
       font-size: 14px;
       font-weight: 400;
      }
		}
		&.twitter {
			h5 {
				color: #1da1f2;
			}
			p {
				color: #1da1f2;
			}
		}
		&.discord {
			h5 {
				color: #7289da;
			}
			p {
				color: #7289da;
			}
		}
		&.telegram {
			h5 {
				color: #0088cc;
			}
			p {
				color: #0088cc;
			}
		}
		&.medium {
			h5 {
				color: #ffffff;
			}
			p {
				color: #ffffff;
			}
		}
    &:hover {
      transform: scale(1.01);
      background-color: #23343b;
    }
	}
}
