@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;1,400;1,500;1,700;1,800&display=swap');




$bg-white:#FFFFFF;
$bg-black:#000000;
$bg-gray:#F3FBF9;
$bg-nav-collapse:#000;
$primary-color: #00B695;
$text-color: #EAFFFC;
$title-color:#fff;
$background: linear-gradient(269.21deg, #44B7E9 -62.88%, #00B695 173.99%);
